.buttons-hover {
  border: 2px solid var(--green);
  border-radius: desktop-vw(10px);
}

.button-disabled {
  pointer-events: none;
  opacity: 0.3;
}

.product-details {
  grid-column: span 4;

  .title {
    padding-bottom: desktop-vh(10px);
  }

  .heading {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .actions {
      text-transform: uppercase;
      font-family: var(--font-secondary);
      display: flex;
      *:first-child:not(:last-child) {
        margin-right: desktop-vh(16px);
      }

      .add-to-cart {
        &.button-disabled {
          pointer-events: none;
          opacity: 0.3;
        }
      }
    }
  }

  .details-content {
    overflow: hidden;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    .images {
      display: flex;
      flex-direction: column;
      height: 100%;
      position: relative;

      .modal-trigger {
        position: absolute;
        bottom: 0;
        z-index: 1;
        width: mobile-vw(24px);
        height: mobile-vw(24px);

        transition: 100ms color var(--ease-in-out-expo);

        path {
          stroke-dasharray: 20;
          transition: 400ms stroke-dasharray var(--ease-in-out-expo);
        }

        @include desktop {
          width: 32px;
          height: 32px;
        }

        &:hover {
          path {
            stroke-dasharray: 31.5;
          }
        }
      }

      &:not(.visible) {
        pointer-events: none;
        opacity: 0;
      }
    }

    .info {
      position: absolute;
      left: 0;
      top: 0;
      max-height: 100%;
      transition: opacity 1s var(--ease-out-expo);

      > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: desktop-vh(24px);
        max-width: desktop-vh(508px);
      }

      &:not(.visible) {
        pointer-events: none;
        opacity: 0;
      }

      .description,
      .price {
        grid-column: span 2;
      }

      .price {
        p:last-child {
          font-size: desktop-vh(18px);
          line-height: 130%;
          font-family: var(--font-tertiary);
        }
      }

      .variants {
        grid-column: 1/-1;
        width: desktop-vw(300px);
        text-align: start;

        .options {
          display: flex;
          flex-wrap: wrap;

          .option {
            border-radius: desktop-vw(5px);
            border: 2px solid var(--grey);
            padding: desktop-vw(10px) desktop-vw(12px);
            margin-bottom: desktop-vw(10px);
            transition: 300ms border-radius var(--ease-out-expo);

            &:not(:last-child) {
              margin-right: desktop-vw(10px);
            }
          }
        }
      }
    }
  }
}

.choose-variant {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: 800ms opacity var(--ease-out-expo);
  background: rgba($color: #000000, $alpha: 0.5);
  backdrop-filter: blur(8px);
  width: 100%;
  height: 87%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &:not(.appear) {
    pointer-events: none;
    opacity: 0;
  }

  .title {
    text-align: center;
    color: var(--green);
    opacity: 0.75;
  }

  .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;

    > button {
      border-radius: desktop-vw(5px);
      border: 2px solid var(--white);
      padding: desktop-vw(10px) desktop-vw(12px);
      margin-bottom: desktop-vw(10px);
      transition: 300ms border-radius var(--ease-out-expo);

      &:not(:last-child) {
        margin-right: desktop-vw(10px);
      }

      &:hover {
        @extend .buttons-hover;
      }
    }

    .selected-option {
      @extend .buttons-hover;
    }
  }
}
